<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="../../../assets/fonts/pe-icon-7-stroke/css/helper.css">
    <link rel="stylesheet" href="card-info.css">
</head>

<body>
    <div class="card-info">
        <a class="card-info__link" href="#">
            <div class="card-info__image">
                <i class="pe-7s-settings"></i>
            </div>
            <h2 class="card-info__heading">Setting</h2>
        </a>
        <p class="card-info__paragraph">
            Lorem ipsum dolor sit amet, vix erat audiam ei.
            Cum doctus civibus efficiantur
            in. Nec id tempor imperdiet deterruisset, doctus
            volumus explicari qui ex, appareat similique an usu.
        </p>
    </div>
</body>

</html>