body {
    -webkit-font-smoothing: subpixel-antialiased;
}

ul, ol {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.page {
    // max-width: 1600px;
    margin: 0 auto;
}

.content-wrap {
    max-width: 1110px;
    margin: 0 auto;
}


//Удалить
.text-color-accent {
    font-style: normal;
    color: $color-green;
}