$color-map: (
    header: cyan,
    hero: pink,
    main: orange,
    sidebar: green,
    extra-content: brown,
    related: palevioletred,
    related-posts: peru,
    footer: orange
);

@each $key, $value in $color-map {
    .#{$key} {
        background-color: $value;
    }
}

body {
    display: grid;
    grid-template-areas: 
    'header header header'
    'hero main main'
    'sidebar main main'
    'sidebar extra-content extra-content'
    'related related related-posts'
    'footer footer footer';
    grid-auto-rows: 100px;
    height: 100vh;
    grid-gap: 2px;
}


.header {
    grid-area: header;
}


.hero {
    grid-area: hero;
}

.main {
    grid-area: main;

}
.sidebar {
    grid-area: sidebar;

}

.extra-content {
    grid-area: extra-content;
}
.related {
    grid-area: related;

}

.related-posts {
    grid-area: related-posts;
}


.footer {
    grid-area: footer;
}