.form-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 5px 0px #000;
}
h1 {
  font-size: 24px;
}
input:not([type='submit']) {
  border: none;
  border-bottom: 3px solid grey;
  padding: 5px;
  margin: 10px;
}
input:not([type='submit']):focus {
  border-bottom: 3px solid #5892dd;
}
input {
  display: block;
}
input[type="submit"] {
  padding: 5px;
  color: #fff;
  margin: 10px auto;
  border: none;
  background-color: #5892dd;
  border-radius: 200px;
  font-size: 18px;
  width: 80%;
}
.renew-pass {
  font-size: 12px;
  color: #5892dd;
  display: block;
  text-align: end;
  padding-right: 18px;
}
span {
  font-size: 12px;
  color: grey;
}
.social-wrap {
  margin: 10px 0;
}
.social-wrap button {
  border: none;
  border-radius: 200px;
  height: 40px;
  box-shadow: 0px 0px 5px 0px #000;
}
