body {
    margin: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background-color: #aaa;
    line-height: 1;
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: #11aa11;
}

a:hover {
    color: #70dd5c;
}

p {
    margin: 0;
}

.page {
    margin: 3px auto 0 auto;
    width: 990px;
    min-height: 675px;
    border: 1px solid #119911;
    background-color: #e5e5e5;
}

.header-img img{
    vertical-align: bottom;
}

.header-img::before {
    content: '';
    display: block;
    height: 27px;
    box-shadow: inset 0px -6px 15px 0px rgba(0,0,0,0.2);
}

.header-img::after {
    content: '';
    display: block;
    height: 13px;
    box-shadow: inset 0px -2px 10px 0px rgba(0,0,0,0.35);
}

.page-body-wrap {
    position: relative;
}

.sidebar {
    display: inline-block;
    width: 198px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    display: inline-block;
    width: 792px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar nav {
    margin: 23px 0 0 25px;
}

.sidebar p {
    margin-top: 12px;
}

.sidebar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.greet {
    margin-top: 4px;
}

.greet p:first-of-type {
    margin: 28px 0 22px 0;
}

.instruction {
    margin-top: 30px;
}

.instruction ol {
    margin: 26px 0 0 19px;
    padding: 0;
    line-height: 1.2;
}

.instruction ol li:first-child {
    font-style: italic;
}

.instruction ol li:nth-child(2) {
    font-weight: bold;
}

.instruction ol li:nth-child(3) {
    text-transform: uppercase;
}

.license {
    margin-top: 25px;
    line-height: 1.2;
}

.license p{
    margin-top: 23px;
    max-width: 735px;
}
.license-signature {
    display: inline-block;
    margin-top: 18px;
}