@media screen and (max-width: 1000px) {
    header,
    .product {
        justify-content: center;
    }

    .product article {
        width: 90%;
    }

    .product-cards>h1 {
        text-align: center;
    }

    .product-cards_description {
        height: 70px;

    }

    .product-cards-item-wrap {
        display: block;
        width: 100%;
        max-width: unset;
    }

    .product-cards_doc,
    .product-cards_example {
        width: 100%;
        margin-bottom: 28px;
    }


    .product-cards_video {
        width: 100%;
        height: 70px;
    }

    main {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .header-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .header-nav li {
        width: 90%;
        margin: 0;
    }

    .nav-selected::after {
        right: 48%;
    }

    .product-cards-wrap a {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .product article {
        min-width: 90%;
    }

    .search-wrap {
        justify-content: center;
        flex-wrap: wrap;
    }

    .price-download {
        margin-bottom: 10px;
    }

    .product-image-wrap img {
        width: 90%;
    }

    .product-image-wrap {
        min-height: unset;
    }

    .input-group-2 {
        margin-left: 16px;
    }

    .submit-btn {
        margin-bottom: 10px;
    }

    article.product-cards {
        width: 100%;
        min-width: unset;
    }
}

@media screen and (max-width: 375px) {
    .input-group-2 .input {
        width: calc(100% - 11px);
    }
}

@media screen and (max-width: 320px) {
    .input-group-1 {
        margin-right: 16px;
    }

    .input-group-2 .input {
        width: calc(100% - 15px);
    }
}