.header-bottomline {
    font-family: $font-open-sans;
    color: $color-dark;
    padding: 31px 0;

    & .content-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        display: grid;
        grid-template-areas: 'header-bottomline__logo header-bottomline-nav header-bottomline-cart';
        grid-auto-columns: 3fr 6fr 3fr;
    }

    &__logo {
        grid-area: header-bottomline__logo;
        font-family: $font-roboto;
        color: #555252;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: -.05em;

        & i {
            font-weight: 900;
        }
    }
}

.header-bottomline-nav {
    grid-area: header-bottomline-nav;
    
    @include flat-list;

    &__item {
        @include hover-change-color;
        
        letter-spacing: -.02em;
        text-transform: uppercase;
        font-size: 14px;  
        font-weight: 700;
        margin-right: 33px;

        &:last-child {
            margin-right: 0;
        }
    }

    & a {
        display: inline-block;
        padding: 5px 0;
    }
}

.header-bottomline-cart {
    grid-area: header-bottomline-cart;

    display: flex;
    justify-content: flex-end;

    font-size: 18px;
    line-height: 18px;
    color: $color-dark;
    text-transform: uppercase;
    padding-right: 27px;

    & a {
        position: relative;
    }

    & a::after {
        content: attr(data-items-count);
        font-size: 14px;
        font-weight: 600;
        color: $color-green;
        position: absolute;
        top: 1px;
        right: -19px;
    }

    & a::before {
        content: '';
        display: inline-block;
        vertical-align: bottom;
        background: url(../assets/img/header-bottomline/shopping-bag.svg) no-repeat;
        width: 22px;
        height: 28px;
        position: absolute;
        top: -8px;
        right: -26px;
    }
}
