<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="../../../assets/fonts/pe-icon-7-stroke/css/helper.css">
    <link rel="stylesheet" href="gallery-menu.css">
</head>

<body>
    <ul class="gallery-menu">
        <li><a class="gallery-menu__item" data-items-count="8" href="#">All</a></li>
        <li><a class="gallery-menu__item" data-items-count="3" href="#">Dresses and Suits</a></li>
        <li><a class="gallery-menu__item" data-items-count="2" href="#">Accessories</a></li>
        <li><a class="gallery-menu__item" data-items-count="3" href="#">Miscellaneous</a></li>
    </ul>
</body>

</html>