$color-green: #1abc9c;
$color-green-lighten: #7fd9c7;

$color-grey: #515151;
$color-grey-darken: #323232;
$color-grey-lighten: #8c8c8c;

$color-dark: #0f0101;
  

$font-roboto : 'Roboto', sans-serif;
$font-open-sans : 'Open Sans', sans-serif;