/* каждая нечётная светлозел полупрозрч

по ховеру строка меняет цвет */

table, td, th {
    border: 1px solid black;
}

td {
    width: 20px;
    height: 20px;
}

tr:nth-child(odd) {
    background-color: rgba(211, 149, 15, 0.5);
}

tbody tr:hover {
    background-color: cyan;
}