<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="../../../assets/fonts/pe-icon-7-stroke/css/helper.css">
    <link rel="stylesheet" href="product-card.css">
</head>

<body>
    <div class="product-card product-card--label-new product-card--label-sale">
        <div class="product-card__image">
            <img src="img/category-2.jpg" alt="product">
        </div>

        <div class="product-card__overlay-outer">
            <div class="product-card__overlay-inner"></div>
        </div>

        <div class="product-card__buttons-wrap">
            <button class="product-card__button"><i class="pe-7s-like"></i></button>
            <button class="product-card__button"><i class="pe-7s-shuffle"></i></button>
            <button class="product-card__button"><i class="pe-7s-clock"></i></button>
            <button class="product-card__button product-card__button--cart"><i class="pe-7s-cart"></i>
                <span>Add to cart</span>
            </button>
        </div>

        <div class="product-card__footer">
            <div class="product-card__name"><span>Blue Tshirt</span></div>
            <div class="product-card__price"><span>$26</span></div>
        </div>
    </div>
</body>

</html>