@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/base/typography";

.heading {
    &__text {
        font-family: $font-roboto;
        color: $color-grey;    
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 48px;
        letter-spacing: -0.02em;
        padding-bottom: 16px;

        @media screen and (max-width: 768px) {
            font-size: 36px;
        }
    }

    &__underline {
        margin: 0 auto;
        width: 164px;
        height: 7px;
        background-color: $color-green;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        background-clip: content-box;
    }

    &__underline--low {
        height: 2px;
        border: none;
    }
}