@mixin flat-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    user-select: none;

    & a {
        text-decoration: none;
        color: inherit;
    }
}

@mixin hover-change-color ($color: $color-green) {
    transition: color .2s;

    &:hover {
        color: $color;
    }
}