<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="heading.css">
</head>
<body>
    <div class="heading">
        <h2 class="heading__text">new collection</h2>
        <div class="heading__underline heading__underline--low"></div>
        <div class="heading__underline"></div>
        <div class="heading__underline heading__underline--low"></div>
    </div>
</body>
</html>